################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
obj/
bin/
/Infrastructure/bin/Debug/net6.0/Infrastructure.dll
